<div class="m-2 d-flex flex-row justify-content-end">
  <div class="p-2"><button  class="btn btn-primary p-1" (click)="setMode('Panel')">Panel</button></div>
  <div class="p-2"><button  class="btn btn-primary p-1" (click)="setMode('Grid')">Grid</button></div>

</div>
<div *ngIf="mode=='Panel'">
<div class="row" *ngFor="let art of articoli; let i = index "  style="justify-content: center; padding: 10px;">
  <div class="col-6">

  <div   class="card" style="box-shadow: 5px 5px 5px;">

    <div class="card-body">
      <h5 class="card-title" >{{art.data.title}}</h5>
      <div ><span class="small">Description:</span> <span class="pl-1 text-muted small">{{art.data.description}}</span></div>
      <div ><span class="small">Price:</span> <span class="pl-1 text-muted small">{{art.data.price}} </span></div>
      <div ><span class="small">category:</span> <span class="pl-1 text-muted small">{{art.data.category}}</span></div>
      <div ><span class="small">employee:</span> <span class="pl-1 text-muted small">{{art.data.employee}}</span></div>
      <mat-expansion-panel style="background-color: rgba(231, 231, 247, 0.765)" >
        <mat-expansion-panel-header>
          Reviews
        </mat-expansion-panel-header>

        <div class="row" *ngFor="let item of art.data.reviews; let j = index">
          <div class="p-2 col-10"><div ><span class="pl-1 text-muted small">{{item}}</span></div></div>
          <div class="p-2 col-2"><button  class="btn btn-primary p-1" (click)="out(art, j)">Elimina</button></div>
        </div>

        <div class="row">
          <div class="p-2 col-10"><input type="text" [(ngModel)] ="modelInput[i].model"> </div>
          <div class="p-2 col-2"><button  class="btn btn-primary p-1" (click)="in(art, i)">Aggiungi</button></div>
        </div>
     </mat-expansion-panel>
      <button  class="btn btn-primary p-1" (click)="delete(art)">Elimina</button>

    </div>

  </div>
</div>
</div>
</div>


 <div *ngIf="mode=='Grid'">
 <div class="d-flex align-content-start flex-wrap" >
  <div class="p-2" *ngFor="let art of articoli; let i = index ">
    <div   class="card" style="box-shadow: 5px 5px 5px;">
      <div class="card-body">
        <h5 class="card-title" >{{art.data.title}}</h5>
        <div ><span class="small">Description:</span> <span class="pl-1 text-muted small">{{art.data.description}}</span></div>
        <div ><span class="small">Price:</span> <span class="pl-1 text-muted small">{{art.data.price}} </span></div>
        <div ><span class="small">category:</span> <span class="pl-1 text-muted small">{{art.data.category}}</span></div>
        <div ><span class="small">employee:</span> <span class="pl-1 text-muted small">{{art.data.employee}}</span></div>
        <mat-expansion-panel style="background-color: rgba(231, 231, 247, 0.765)" >
          <mat-expansion-panel-header>
            Reviews
          </mat-expansion-panel-header>

          <div class="row" *ngFor="let item of art.data.reviews; let j = index">
            <div class="p-2 col-8"><div ><span class="pl-1 text-muted small">{{item}}</span></div></div>
            <div class="p-2 col-2"><button  class="btn btn-primary p-1" (click)="out(art, j)">Elimina</button></div>
          </div>

          <div class="row">
            <div class="p-2 col-8"><input type="text" [(ngModel)] ="modelInput[i].model"> </div>
            <div class="p-2 col-2"><button  class="btn btn-primary p-1" (click)="in(art, i)">Aggiungi</button></div>
          </div>
       </mat-expansion-panel>
        <button disabled="true" class="btn btn-primary p-1 m-1">Aggiungi</button>
        <button  class="btn btn-primary p-1" (click)="delete(art)">Elimina</button>
      </div>
    </div>
  </div>
</div>
</div>
