<div style='	background: #000 url(http://www.loyapp.cloud/images/grocery.jpg)'>


  <!-- <div class="u-sidebar" style="overflow: visible; margin-top: 60px;">
    <div class="p-0 u-sidebar-inner">
      <div class="u-sidebar-nav col-md-12">
        <div class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level pt-3 nav" routerLink="/artist">
          <div class="u-sidebar-nav-menu__item sidebar-item nav-item" style="width: 100%;" >
            <div  class="u-sidebar-nav-menu__link nav-link " role="button" href="#">
              <div class="u-sidebar-nav-menu__item-title" >
                Products
              </div>
            </div>
          </div>
          <div class="u-sidebar-nav-menu__item sidebar-item nav-item" style="width: 100%;" >
            <div  class="u-sidebar-nav-menu__link nav-link " role="button" href="#">
              <div class="u-sidebar-nav-menu__item-title" >
                Nuovo
              </div>
            </div>
          </div>
          <div class="u-sidebar-nav-menu__item sidebar-item nav-item" style="width: 100%;" >
            <div  class="u-sidebar-nav-menu__link nav-link " role="button" href="#">
              <div class="u-sidebar-nav-menu__item-title" >
                Andamenti
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: bisque; z-index: 9999;">
    <a class="navbar-brand" href="#"><h3>e-shop</h3><h5>Dolci di piera</h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/prodotti">Prodotti <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nuovo">Nuovo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/andamenti">Andamenti</a>
        </li>
      <!--   <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Elenco Artisti</a>
            <a class="dropdown-item" href="#">Generi</a>
            <a class="dropdown-item" href="#">Selezione personale</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
  </div>
